<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Jishen_W1.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,514},{126,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,127}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
            <key>Jishen_W2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{126,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,127}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
            <key>Jishen_W3.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,422},{126,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,127}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
            <key>Jishen_W4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Jishen_W5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{126,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,131}}</string>
                <key>sourceSize</key>
                <string>{126,131}</string>
            </dict>
            <key>Jishen_W6.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,386},{126,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,127}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
            <key>Jishen_W7.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,294},{126,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,127}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
            <key>Jishen_W8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{126,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,127}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
            <key>Jishen_W9.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,258},{126,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,127}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
            <key>dot_wave.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,203},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{252,252}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jishen.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,130},{126,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,133}}</string>
                <key>sourceSize</key>
                <string>{126,133}</string>
            </dict>
            <key>jishen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{126,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,133}}</string>
                <key>sourceSize</key>
                <string>{126,133}</string>
            </dict>
            <key>jitou.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>jitou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,112},{97,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,89}}</string>
                <key>sourceSize</key>
                <string>{97,89}</string>
            </dict>
            <key>wing.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,334},{76,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,77}}</string>
                <key>sourceSize</key>
                <string>{76,77}</string>
            </dict>
            <key>wing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,256},{76,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,77}}</string>
                <key>sourceSize</key>
                <string>{76,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>airplane.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7200be2fe07edbbf37178555cdb7e32$</string>
            <key>textureFileName</key>
            <string>airplane.png</string>
        </dict>
    </dict>
</plist>
