<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1 (21).png</key>
            <dict>
                <key>frame</key>
                <string>{{802,95},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>10 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{666,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,303}}</string>
                <key>sourceSize</key>
                <string>{666,303}</string>
            </dict>
            <key>11-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1009},{256,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,12}}</string>
                <key>sourceSize</key>
                <string>{256,12}</string>
            </dict>
            <key>3 (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{798,337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{798,337}}</string>
                <key>sourceSize</key>
                <string>{798,337}</string>
            </dict>
            <key>4 (19).png</key>
            <dict>
                <key>frame</key>
                <string>{{983,2},{17,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,51}}</string>
                <key>sourceSize</key>
                <string>{17,51}</string>
            </dict>
            <key>6 (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{93,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,91}}</string>
                <key>sourceSize</key>
                <string>{93,91}</string>
            </dict>
            <key>7 (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{84,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,35}}</string>
                <key>sourceSize</key>
                <string>{84,35}</string>
            </dict>
            <key>8 (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{897,39},{77,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,74}}</string>
                <key>sourceSize</key>
                <string>{77,74}</string>
            </dict>
            <key>9 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{880,115},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>logo.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e80331323ead854e3084a96eaf91e25c$</string>
            <key>textureFileName</key>
            <string>logo.png</string>
        </dict>
    </dict>
</plist>
