<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,104},{92,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,71}}</string>
                <key>sourceSize</key>
                <string>{92,71}</string>
            </dict>
            <key>bB_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{64,176}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{64,176}}</string>
                <key>sourceSize</key>
                <string>{84,184}</string>
            </dict>
            <key>bR_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,186},{64,176}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{64,176}}</string>
                <key>sourceSize</key>
                <string>{84,184}</string>
            </dict>
            <key>bY_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{64,176}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{64,176}}</string>
                <key>sourceSize</key>
                <string>{84,184}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,303},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>blackBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,318},{62,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,84}}</string>
                <key>sourceSize</key>
                <string>{62,84}</string>
            </dict>
            <key>bor1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{167,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,227}}</string>
                <key>sourceSize</key>
                <string>{167,227}</string>
            </dict>
            <key>bor2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,76},{72,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,26}}</string>
                <key>sourceSize</key>
                <string>{72,26}</string>
            </dict>
            <key>boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,395},{87,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,83}}</string>
                <key>sourceSize</key>
                <string>{87,83}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,839},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>coinLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,839},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>icmain.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>icon_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,252},{166,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,141}}</string>
                <key>sourceSize</key>
                <string>{166,141}</string>
            </dict>
            <key>ictili1.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,257},{59,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,67}}</string>
                <key>sourceSize</key>
                <string>{59,67}</string>
            </dict>
            <key>iczuan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,198},{69,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,57}}</string>
                <key>sourceSize</key>
                <string>{69,57}</string>
            </dict>
            <key>plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,404},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{52,52}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>tl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,197},{90,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,40}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>xueTiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{641,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{641,18}}</string>
                <key>sourceSize</key>
                <string>{641,18}</string>
            </dict>
            <key>xueTiaoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,186},{651,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{651,26}}</string>
                <key>sourceSize</key>
                <string>{651,26}</string>
            </dict>
            <key>z2.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{199,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,182}}</string>
                <key>sourceSize</key>
                <string>{199,182}</string>
            </dict>
            <key>z4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,171},{24,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,44}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>z5.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,289},{31,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,55}}</string>
                <key>sourceSize</key>
                <string>{31,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>view.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf703dd2bf803908cca35421a5da4934$</string>
            <key>textureFileName</key>
            <string>view.png</string>
        </dict>
    </dict>
</plist>
