<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{46,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,161}}</string>
                <key>sourceSize</key>
                <string>{46,161}</string>
            </dict>
            <key>d0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{46,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,161}}</string>
                <key>sourceSize</key>
                <string>{46,161}</string>
            </dict>
            <key>d0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{46,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,161}}</string>
                <key>sourceSize</key>
                <string>{46,161}</string>
            </dict>
            <key>d0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,161}}</string>
                <key>sourceSize</key>
                <string>{46,161}</string>
            </dict>
            <key>da01_RS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{46,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,142}}</string>
                <key>sourceSize</key>
                <string>{46,142}</string>
            </dict>
            <key>da02_RS.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,246},{46,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,142}}</string>
                <key>sourceSize</key>
                <string>{46,142}</string>
            </dict>
            <key>da03_RS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{46,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,142}}</string>
                <key>sourceSize</key>
                <string>{46,142}</string>
            </dict>
            <key>da04_RS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{46,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,142}}</string>
                <key>sourceSize</key>
                <string>{46,142}</string>
            </dict>
            <key>db01_RS.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,185},{59,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,70}}</string>
                <key>sourceSize</key>
                <string>{59,70}</string>
            </dict>
            <key>db02_RS.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,124},{59,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,70}}</string>
                <key>sourceSize</key>
                <string>{59,70}</string>
            </dict>
            <key>db03_RS.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,63},{59,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,70}}</string>
                <key>sourceSize</key>
                <string>{59,70}</string>
            </dict>
            <key>db04_RS.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{59,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,70}}</string>
                <key>sourceSize</key>
                <string>{59,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gun.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ea9f0ad0182ecdfc76143b833010e22$</string>
            <key>textureFileName</key>
            <string>gun.png</string>
        </dict>
    </dict>
</plist>
